* {
    box-sizing: border-box;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #333;
}

h1 {
    margin: 0;
    padding: 0;
}

#calculator {
    width: 360px;
}

#display {
    background-color: #666;
    text-align: end;
    padding-right: 6px;
}

#buttons {
    display: flex;
    flex-direction: row wrap;
}

#nonops {
    display: flex;
    flex-flow: row-reverse wrap;
}

#ops {
    display: flex;
    flex-direction: column;
}

#bigButtons {
    display: flex;
    flex-direction: row;
}

#buttonC {
    flex: 3;
}

.button {
    width: 90px;
}

.button:hover {
    opacity: 0.8;
}

#display, .button {
    border: 1px solid black;
}

#ops * {
    background-color: #999;
}